[submodule "extern/tudat-resources"]
	path = extern/tudat-resources
	url = https://github.com/tudat-team/tudat-resources
[submodule "extern/tudat"]
	path = extern/tudat
	url = https://github.com/tudat-team/tudat.git
[submodule "extern/cspice-cmake"]
	path = extern/cspice-cmake
	url = https://github.com/tudat-team/cspice-cmake.git
